<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708986636852-epresru8nqn8pvji12ojkqgkk5c98vji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708986636852-epresru8nqn8pvji12ojkqgkk5c98vji</string>
	<key>API_KEY</key>
	<string>AIzaSyA96Eo-_RvjkQIhuS1o-Xuo3oWSPZsu8LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>708986636852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssi.testapp</string>
	<key>PROJECT_ID</key>
	<string>testapp-910bf</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-910bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708986636852:ios:2554b07663bda10e30d861</string>
</dict>
</plist>